[push]
  autoSetupRemote = true
[user]
  name = Paul Jankowski
  email = 8BitTitan@gmail.com
[init]
  defaultBranch = main
[core]
  editor = nvim
  pager = delta
[pull]
  ff = only
  default = current
[color]
  ui = auto
[fetch]
  prune = true
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  dark = true
[merge]
  conflictStyle = zdiff3
