*

!.config/

!.config/bat/
!.config/bat/config
!.config/bat/themes/
!.config/bat/themes/nightfox.tmTheme

!.config/eza/
!.config/eza/theme.yml

!.config/gh/
!.config/gh/**/*

!.config/ghostty/
!.config/ghostty/**/*

!.config/k9s/
!.config/k9s/config.yaml
!.config/k9s/skins/
!.config/k9s/skins/nightfox.yaml

!.config/mise/
!.config/mise/**/*

!.config/neofetch/
!.config/neofetch/config.conf

!.config/nvim/
!.config/nvim/**/*

!.config/wezterm/
!.config/wezterm/**/*

!.config/zsh/
!.config/zsh/**/*

!.config/starship.toml

!assets/
!assets/**/*

!bin/
!bin/**/*

!.fzf.zsh
!.gitconfig
!.gitignore
!.osx
!.pryrc
!.tmux.conf
!.wezterm.lua
!.zshenv
!Brewfile
!README.md

**/.DS_STORE
